body {
  background: rgb(255, 229, 136);
  font-family: Helvetica, Arial, sans-serif;
  margin-top: 30px;
}
h1,
p {
  text-align: center;
}

.links {
  text-align: center;
  margin-top: 40px;
}

.links a {
  margin: 0 10px;
  text-decoration: none;
  color: chocolate;
  font-size: 15px;
}

img {
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
